@theme {
    /* Primary */
    --color-tm-button-primary-background-color: #0063a3;
    --color-tm-button-primary-border-color: #0063a3;
    --color-tm-button-primary: white;

    --color-tm-button-primary-hover-background-color: #0082d6;
    --color-tm-button-primary-hover-border-color: #0082d6;
    --color-tm-button-primary-hover: white;

    --color-tm-button-primary-active-background-color: #00548a;
    --color-tm-button-primary-active-border-color: #00548a;
    --color-tm-button-primary-active: white;

    --color-tm-button-primary-disabled-background-color: #0063a3;
    --color-tm-button-primary-disabled-border-color: #0063a3;
    --color-tm-button-primary-disabled: white;

    --color-tm-button-primary-focus-visible-box-shadow: 0 0 0 3px rgba(1, 154, 235, 0.5); /* Highlight Blue */
}

.dark {
    /* Primary */
    --color-tm-button-primary-background-color: #019aeb;
    --color-tm-button-primary-border-color: #019aeb;
    --color-tm-button-primary: #171c1e;
    --color-tm-button-primary-hover: #171c1e;
    --color-tm-button-primary-active: #171c1e;
    --color-tm-button-primary-focus-visible-box-shadow: 0 0 0 0.25rem rgba(38,122,177, .5);
}

@layer utilities {

    /* Filled Button Variants */
    /* Primary Filled */
    .button-tm-primary-filled {
        background-color: var(--color-tm-button-primary-background-color);
        border-color: var(--color-tm-button-primary-border-color);
        color: var(--color-tm-button-primary);
    }

    .button-tm-primary-filled:hover {
        background-color: var(--color-tm-button-primary-hover-background-color);
        border-color: var(--color-tm-button-primary-hover-border-color);
        color: var(--color-tm-button-primary-hover);
    }

    .button-tm-primary-filled:focus-visible {
        background-color: var(--color-tm-button-primary-hover-background-color);
        border-color: var(--color-tm-button-primary-hover-border-color);
        color: var(--color-tm-button-primary-hover);
        outline: none;
        box-shadow: var(--color-tm-button-primary-focus-visible-box-shadow)
    }

    .button-tm-primary-filled:active {
        background-color: var(--color-tm-button-primary-active-background-color);
        border-color: var(--color-tm-button-primary-active-border-color);
        color: var(--color-tm-button-primary-active);
    }

    .button-tm-primary-filled:disabled {
        background-color: var(--color-tm-button-primary-disabled-background-color);
        border-color: var(--color-tm-button-primary-disabled-border-color);
        color: var(--color-tm-button-primary-disabled);
    }

}