/* Color variables - Light Mode */

@theme {
  /* Trimble Modus (tm) Color Variables */
  /** 
   * Trimble apps use a primary palette consisting of blue and yellow, together with various shades of “steel” or blueish gray. These colors have been the basis of Trimble’s corporate identity and come in four main colors: blue, yellow, light gray, and dark gray.
   * Blue and neutral progression colors are used as primary UI colors in Trimble products. Additional colors (such as the Trimble yellow, red, and green) are used sparingly and purposefully, usually as accent colors only.
   */
  /* Primary Palette */
  --color-tm-trimble-dark-blue: #004f83;      /* Trimble Blue Dark */
  --color-tm-trimble-blue: #0063a3;           /* Trimble Blue */
  --color-tm-trimble-yellow: #fbad26;     /* Trimble Yellow */
  --color-tm-trimble-gray: #252a2e; /* Trimble Gray */

  /* Blue Progression */
  --color-tm-blue-dark: #0e416c;            /* Blue Dark */
  --color-tm-blue: var(--color-tm-trimble-blue); /* Trimble Blue */
  --color-tm-blue-light: #217cbb;           /* Blue Light */
  --color-tm-blue-pale: #dcedf9;            /* Blue Pale */

  --color-tm-primary: #0063a3;              /* Trimble Blue */
  --color-tm-primary-dark: #004f83;         /* Trimble Blue Dark */
  --color-tm-primary-light: #217cbb;        /* Blue Light */
  --color-tm-primary-pale: #dcedf9;         /* Blue Pale */

  /* Neutral Progression */
  --color-tm-gray-10: #171c1e;              /* Gray 10 */
  --color-tm-gray-9: #353a40;               /* Gray 9 */
  --color-tm-gray-8: #464b52;               /* Gray 8 */
  --color-tm-gray-7: #585c65;               /* Gray 7 */
  --color-tm-gray-6: #6a6e79;               /* Gray 6 - Secondary Text & Icons */
  --color-tm-gray-5: #7d808d;               /* Gray 5 */
  --color-tm-gray-4: #90939f;               /* Gray 4 */
  --color-tm-gray-3: #a3a6b1;               /* Gray 3 */
  --color-tm-gray-2: #b7b9c3;               /* Gray 2 */
  --color-tm-gray-1: #cbcdd6;               /* Gray 1 */
  --color-tm-gray-0: #e0e1e9;               /* Gray 0 */
  --color-tm-gray-light: #f1f1f6;           /* Gray Light - Screen & Panels */
  --color-tm-white: #ffffff;                /* White */

  /* Yellow Progression */
  --color-tm-yellow-dark: #e49325;          /* Yellow Dark - Warning */
  --color-tm-yellow: #fbad26;               /* Trimble Yellow */
  --color-tm-yellow-light: #fec157;         /* Yellow Light */
  --color-tm-yellow-pale: #fff5e4;          /* Yellow Pale */

  /* Red Progression */
  --color-tm-red-dark: #ab1f26;             /* Red Dark */
  --color-tm-red: #da212c;                  /* Red - Danger/Error */
  --color-tm-red-light: #e86363;            /* Red Light */
  --color-tm-red-pale: #fbd4d7;             /* Red Pale */

  /* Green Progression */
  --color-tm-green-dark: #006638;           /* Green Dark - Success */
  --color-tm-green: #1e8a44;                /* Green */
  --color-tm-green-light: #4ea646;          /* Green Light */
  --color-tm-green-pale: #e0eccf;           /* Green Pale */

  /* Special Case Colors */
  --color-tm-blue-highlight: #019aeb;       /* Highlight Blue - Used in Dark Mode */

  /* Semantic Colors */
  --color-tm-success: var(--color-tm-green-dark);       /* Green Dark - Success */
  --color-tm-success-light: var(--color-tm-green-light); /* Green Light */
  --color-tm-success-pale: var(--color-tm-green-pale);  /* Green Pale */

  --color-tm-danger: var(--color-tm-red);               /* Red - Danger/Error */
  --color-tm-danger-dark: var(--color-tm-red-dark);     /* Red Dark */
  --color-tm-danger-light: var(--color-tm-red-light);   /* Red Light */
  --color-tm-danger-pale: var(--color-tm-red-pale);     /* Red Pale */

  --color-tm-warning: var(--color-tm-yellow-dark);      /* Yellow Dark - Warning */
  --color-tm-warning-light: var(--color-tm-yellow-light); /* Yellow Light */
  --color-tm-warning-pale: var(--color-tm-yellow-pale); /* Yellow Pale */

  --color-tm-info: var(--color-tm-blue-highlight);      /* Highlight Blue - Information */


  /* Content Colors - Light Mode */
  --color-tm-background: var(--color-tm-gray-light);    /* Gray Light - Background */
  --color-tm-border: var(--color-tm-gray-1);            /* Gray 1 - Border */
}

@theme dark {
  /* Trimble Modus (tm) Color Variables - Dark Mode */

  --color-tm-gray-10: #171c1e;              /* Gray 10 */

  /* Primary Palette - Dark Mode */
  --color-tm-primary: var(--color-tm-blue-highlight);   /* Highlight Blue - Replaces Trimble Blue in Dark Mode */
  --color-tm-primary-dark: var(--color-tm-blue-light);  /* Blue Light */
  --color-tm-primary-light: var(--color-tm-blue-pale);  /* Blue Pale */

  /* Semantic Colors - Dark Mode */
  --color-tm-success: var(--color-tm-green-light);      /* Green Light */
  --color-tm-danger: var(--color-tm-red-light);         /* Red Light */
  --color-tm-warning: var(--color-tm-yellow-light);     /* Yellow Light */
  --color-tm-info: var(--color-tm-blue-highlight);      /* Blue Highlight */
}